<%- include("partials/head")%>

<%- include("partials/navbar")%>
    
    <h1>The Home Page <%= %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam cupiditate omnis distinctio veritatis
        exercitationem suscipit aut nulla accusamus quam ratione? Aliquam ut alias minima itaque tempora. Architecto
        aspernatur voluptates unde?
        Quos doloribus sed quae quam aperiam? Officia nulla, quis deserunt quidem dicta dolores harum ullam rem! Optio,
        perspiciatis inventore adipisci architecto provident esse aut, facere error fuga veritatis similique veniam.</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere qui, rerum blanditiis maiores nisi optio neque
        alias quae cupiditate odit repudiandae natus ipsam ipsum sapiente assumenda saepe magnam voluptatibus eaque.</p>



<%- include("partials/footer")%>